Hi {{ username }},

A password reset was request for an account signed-up with this email: {{ email }}
Click this link to proceed with the reset: {{ token_url }}

If no reset was requested there is no need to take any action.
